<!DOCTYPE html>
<html>
<head>
    <title>Movie Database</title>
    <%- include('partials/header') %>
</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center vh-95">
        <h1 class="mb-3">🎥 Movie Database</h1>
        <form action="/buscar" method="GET" autocomplete="off" class="input-group w-50">
            <div class="input-group-prepend">
                <select class="form-select" name="type">
                    <option value="all">Todo</option>
                    <option value="keywords">Keywords</option>
                </select>
            </div>
            <input type="text" name="q" placeholder="Buscar" class="form-control" />
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</body>
</html>
